<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://semisupervisedapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9109f582-942b-4360-9c94-21793d69eed0/resourceGroups/semisupervisedFramework/providers/Microsoft.Web/sites/semisupervisedApp</ResourceId>
    <UserName>$semisupervisedApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://semisupervisedapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>